# Python virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Environment variables / secrets
.env

# VS Code
.vscode/

# Python test/cache
.pytest_cache/
.coverage

# OS files
.DS_Store
Thumbs.db

# Node
node_modules/

# Build files
dist/
build/
*.egg-info/